<!-- <div *ngIf="isLoading" class="text-center spinner">
  <app-loading-spinner></app-loading-spinner>
</div> -->

<div class="bg-black1 mx-auto">
  <div class="container" style="width: 40%; height: 40%">
    <div class="post-meta">
      <time class="post-date">{{ article?.createdAt | date: "longDate" }}</time>
    </div>
    <h1 class="post-title">{{ article?.title }}</h1>
    <div class="post-bottom d-flex">
      <div class="post-author">
        <a href="#">
          <img
            class="post-author-img"
            src="{{ article?.author?.image }}"
            alt="img"
          />
        </a>
      </div>
      <div class="post-bottom">
        <a routerLink="/profile" class="post-author-link"
          >{{ article?.author?.username }}
        </a>
        <span class="post-tag">
          <a
            ><span
              class="text-gray"
              *ngIf="follow === false"
              (click)="followArticle(article.author.username)"
              ><i class="fas fa-plus"></i> Follow
              {{ article?.author?.username }}</span
            ><span
              class="text-gray"
              *ngIf="follow === true"
              (click)="unfollowArticle(article.author.username)"
              ><i class="fas fa-plus"></i> Unfollow
              {{ article?.author?.username }}
            </span></a
          >
          <a
            ><span
              class="text-gray"
              *ngIf="!article?.favorited"
              (click)="favoriteArticle()"
              ><i class="fas fa-heart"></i> Favorite Article
              {{ article?.favoritesCount }}</span
            ><span
              class="text-gray"
              *ngIf="article?.favorited"
              (click)="unFavoriteArticle()"
              ><i class="fas fa-heart"></i> Unfavorite Article
              {{ article?.favoritesCount }}</span
            ></a
          >
        </span>

        <!-- <span class="post-tag">
          <a href="#"><i class="fas fa-edit"></i> Edit Article</a>
          <a href="#" class="text-danger"
            ><i class="fas fa-trash-alt"></i> Delete Article</a
          >
        </span> -->
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <div class="post aminate">
      <div class="post-content mx-auto" style="width: 100%; height: auto">
        <p>
          {{ article?.body }}
        </p>
        <!-- <div class="post-tag">
          <span class="text-gray">{{ articleList.tagList }}</span>
        </div> -->
      </div>
    </div>
  </div>

  <div class="container mt-4">
    <form
      #comment="ngForm"
      class="example-form mx-auto"
      (submit)="addComment(comment)"
    >
      >
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Write a comment</mat-label>
        <textarea
          matInput
          ngModel
          name="comment"
          style="color: #fff"
          #input
        ></textarea>
        <div class="toolbar mt-2">
          <img
            src="{{ currentUser.user.image }}"
            alt="img-author"
            class="comment-author-img"
          />
          <button
            (click)="input.value = ''"
            type="submit"
            class="float-end btn-none"
          >
            <i class="icon fas fa-paper-plane"></i>
          </button>
        </div>
      </mat-form-field>
      <div class="cmt-card mt-3" *ngFor="let comment of articleComment">
        <div class="card-block">
          <p>
            {{ comment.body }}
          </p>
        </div>
        <div class="card-footer">
          <div class="float-start">
            <a routerLink="/profile" class="comment-author">
              <img
                src="{{ comment?.author?.image }}"
                alt="img-author"
                class="comment-author-img"
              />
            </a>
            <a
              routerLink="/profile"
              class="comment-author"
              style="color: rgba(255, 123, 123, 0.7); margin-left: 8px"
              >{{ comment?.author?.username }}</a
            >
            <span class="date-posted">{{
              comment.createdAt | date: "longDate"
            }}</span>
          </div>
          <div
            class="float-end"
            *ngIf="currentUser.user.username === comment.author.username"
          >
            <span
              (click)="deleteComment(comment?.id)"
              class="pull-right"
              style="cursor: pointer"
              ><i class="fas fa-trash"></i
            ></span>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
