<div class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg" data-cy="headerComponent">
      <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" [routerLink]="['./home']">
          <img src="https://img.icons8.com/ios/50/000000/circled-w.png"/>
          <span>Wibook</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars text-white"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-end d-xl-block d-none">
          <ul class="navbar-nav mb-2 mb-lg-0 nav-pills">
            <li class="nav-item" routerLinkActive="active" *ngIf="isLogin">
              <a class="nav-link text-center" [routerLink]="['./auth/setting']" routerLinkActive="underlight">Setting</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!isLogin">
              <a class="nav-link text-center" [routerLink]="['./auth/login']" routerLinkActive="underlight">Login</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!isLogin">
              <a class="nav-link text-center" [routerLink]="['./auth/register']" routerLinkActive="underlight">Register</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isLogin">
              <a class="nav-link text-center" [routerLink]="['./editor']" routerLinkActive="underlight">New Article</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isLogin">
              <a class="nav-link text-center" [routerLink]="['./profile', username]" routerLinkActive="underlight">{{ currenUser?.username ? currenUser?.username : 'User' }}
                <img [src]="currenUser?.image ? currenUser?.image : 'https://api.realworld.io/images/smiley-cyrus.jpeg'" >
              </a>
            </li>
          </ul>
        </div>
    
        <div class="collapse navbar-collapse justify-content-end nav-phone" id="navbar">
          <ul class="navbar-nav mb-2 mb-lg-0 nav-pills">
            <li class="nav-item" routerLinkActive="active" *ngIf="isLogin" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar">
              <a class="nav-link text-center" [routerLink]="['./auth/setting']" routerLinkActive="underlight">Setting</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!isLogin" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar">
              <a class="nav-link text-center" [routerLink]="['./auth/login']" routerLinkActive="underlight">Login</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!isLogin" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar">
              <a class="nav-link text-center" [routerLink]="['./auth/register']" routerLinkActive="underlight">Register</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isLogin" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar">
              <a class="nav-link text-center" [routerLink]="['./editor']" routerLinkActive="underlight">New Article</a>
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isLogin" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar">
              <a class="nav-link text-center" [routerLink]="['./profile', username]" routerLinkActive="underlight">{{ currenUser?.username ? currenUser?.username : 'User' }}
                <img [src]="currenUser?.image ? currenUser?.image : 'https://api.realworld.io/images/smiley-cyrus.jpeg'" >
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
