<div class="header">
  <div class="container">
    <nav class="navbar navbar-expand-lg" data-cy="headerComponent">
      <div class="container-fluid d-flex">
        <div class="navbar-header">
          <a class="navbar-brand" [routerLink]="['./home']">Wibu</a>
        </div>

        <div class="collapse navbar-collapse justify-content-end">
          <ul class="nav nav-pills">
            <li class="nav-item" routerLinkActive="active" *ngIf="isLogin">
              <a
                class="nav-link"
                [routerLink]="['./auth/setting']"
                routerLinkActive="underlight"
                >Setting</a
              >
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!isLogin">
              <a
                class="nav-link"
                [routerLink]="['./auth/login']"
                routerLinkActive="underlight"
                >Login</a
              >
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="!isLogin">
              <a
                class="nav-link"
                [routerLink]="['./auth/register']"
                routerLinkActive="underlight"
                >Register</a
              >
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isLogin">
              <a
                class="nav-link"
                [routerLink]="['./editor']"
                routerLinkActive="underlight"
                >New Article</a
              >
            </li>
            <li class="nav-item" routerLinkActive="active" *ngIf="isLogin">
              <a
                class="nav-link"
                [routerLink]="['./profile', username]"
                routerLinkActive="underlight"
                >{{ currenUser?.username }}
                <img
                  [src]="
                    currenUser?.image
                      ? currenUser?.image
                      : 'https://api.realworld.io/images/smiley-cyrus.jpeg'
                  "
                />
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
