.header {
  background-color: #0f0e15;
  height: 15vh;
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    height: auto;
  }
  .container {
    .navbar-brand {
      font-size: 30px;
      line-height: 1;
      font-weight: 900;
      vertical-align: middle;
      color: #eee;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: -1px;
      img {
        background-color: #fff;
        border-radius: 50%;
        margin-right: 5px;
      }
      &:hover {
        color: rgba(255,123,123,.7);
        img {
          background-color: rgba(255,123,123,.7);
        }
      }
    }
    .nav-phone {
      @media screen and (min-width: 769px) {
        display: none!important;
      }
    }
    .nav-pills {
      .nav-item {
        .nav-link {
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 1px;
          text-transform: uppercase;
          text-decoration: none;
          color: #eee;
          &:hover {
            color: rgba(255,123,123,.7);
          }
          img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            padding: 1px;
            border: 2px solid #ff7b7b;
          }
        }
        .underlight {
          background-color: #eee;
          color: #0f0e15;
        }
      }
    }
  }
}