.signup {
  background-color: #0f0e15;
  .signup-form {
    width: 100%;
    max-width: 550px;
    margin: 20px auto 5vw;
    .signup__title {
      img {
        background-color: #fff;
        border-radius: 50%;
        margin: 50px;
      }
    }
    p {
      margin-bottom: 30px;
      font-size: 18px;
      color: #aaa;
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
    input {
      color: #fff;
    }
  }
  .spinner {
    margin: 80px auto 31vw;
  }
}