<div *ngIf="isLoadingArticle" class="text-center spinner">
  <app-loading-spinner></app-loading-spinner>
</div>
<div class="profile" *ngIf="!isLoadingArticle && listArticle?.lenght !== 0">
  <div class="container">
    <div class="row">
      <div
        class="article col col-4 col-d-6 col-t-12"
        *ngFor="let article of listArticle; let i = index"
      >
        <div class="article-card">
          <a class="article-img" [routerLink]="['../../article', article.slug]">
            <img
              class="img"
              src="http://norlin.anvodstudio.com/content/images/2020/11/110.jpg"
              alt=""
            />
          </a>

          <div class="article-content">
            <div class="article-meta">
              <time class="article-date"
                >{{article.createdAt | date : 'longDate' }}</time
              >
            </div>
            <div class="article-title">
              <p>{{article.title}}</p>
            </div>

            <p class="article-excerpt">
              {{article.description}}
            </p>
            <div class="article-bottom">
              <div class="article-author">
                <a class="btn"
                  ><img
                    class="img-author"
                    src="{{ article.author.image }}"
                    alt=""
                /></a>
              </div>
              <div class="article-bottom-meta">
                <a  class="article-bottom-user">{{article.author.username}}</a>
              </div>
              <a appDebounceClick [debounceTime]="300" class="btn  article-like" *ngIf="!listArticle[i].favorited"  (debounceClick)="onFavoriteArticle(article.slug, i)"  >
                <i class="far fa-heart"></i> {{ listArticle[i].favoritesCount}}</a>
              <a appDebounceClick [debounceTime]="300" class="btn  article-like" *ngIf="listArticle[i].favorited" (debounceClick)="onUnfavoriteArticle(article.slug, i)"  >
                <i class="fas fa-heart"></i> {{  listArticle[i].favoritesCount}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container" >
  <mat-paginator  [length]="length" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page" (page)= "handlePage($event)">
  </mat-paginator>
</div>

