<div class="setting">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div *ngIf="isLoading" class="text-center spinner">
          <app-loading-spinner></app-loading-spinner>
        </div>

        <form
          *ngIf="!isLoading"
          class="setting-form"
          novalidate
          #settingForm="ngForm"
          (submit)="settingForm.form.valid && onSetting(settingForm)"
        >
        <div class="setting__title text-center">
          <img src="https://img.icons8.com/ios/100/000000/circled-w.png"/>
        </div>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Image URL</mat-label>
            <input
              type="url"
              matInput
              placeholder="Image URL"
              [(ngModel)]="imagePath"
              name="image"
              #image="ngModel"
              required
              pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)"
            />
            <mat-error
              *ngIf="image.hasError('pattern') && !image.hasError('required')"
            >
              Please enter a valid URL
            </mat-error>
            <mat-error *ngIf="image.hasError('required')">
              Image profile is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <div
            class="image-preview mb-3"
            *ngIf="!image.hasError('pattern') && image.value"
          >
            <img [src]="image.value" class="d-block mx-auto" />
          </div>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Username</mat-label>
            <input
              type="text"
              matInput
              placeholder="Username"
              [(ngModel)]="userName"
              name="username"
              #username="ngModel"
              required
            />
            <mat-error *ngIf="username.hasError('required')">
              Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Short bio</mat-label>
            <textarea
              matInput
              placeholder="Short bio about you"
              [(ngModel)]="shortBio"
              name="bio"
              #bio="ngModel"
            ></textarea>
          </mat-form-field>

          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              placeholder="Email"
              [(ngModel)]="currentEmail"
              name="email"
              #name="ngModel"
              required
              email
            />
            <mat-error
              *ngIf="name.hasError('email') && !name.hasError('required')"
            >
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="name.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>

          <!-- <mat-form-field appearance="outline" class="w-100">
            <mat-label>New Password</mat-label>
            <input
              type="password"
              matInput
              placeholder="Password"
              ngModel
              name="password"
              #password="ngModel"
              required
              minlength="6"
              maxlength="12"
            />
            <mat-error
              *ngIf="
                (password.hasError('minlength') || password.hasError('maxlength')) && !password.hasError('required')
              "
            >
              Please enter a valid password
            </mat-error>
            <mat-error *ngIf="password.hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field> -->

          <div class="mb-3 text-end">
            <button mat-raised-button color="primary" type="submit">
              Update settings
            </button>
          </div>

          <hr class="hightlight" />

          <div class="mb-3">
            <button
              mat-raised-button
              color="primary"
              type="button"
              (click)="onLogout()"
            >
              Logout
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
