.footer {
  background-color: #0f0e15;
  height: 15vh;
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    height: auto;
  }
  .footer__inner {
    @media screen and (max-width: 768px) {
      flex-wrap: wrap-reverse;
      text-align: center;
      padding: 20px;
    }
    .copyright {
      font-size: 13px;
      color: #aaa;
      a {
        color: #fff;
        cursor: pointer;
        &:hover {
          color: rgba(255,123,123,.7);
        }
      }
    }
    .social {
      .social__item {
        display: flex;
        justify-content: center;
        margin-right: 12px;
        align-items: center;
        width: 40px;
        height: 40px;
        font-size: 16px;
        line-height: 40px;
        border-radius: 8px;
        background-color: #17151e;
        cursor: pointer;
        a {
          color: #fff;
          &:hover {
            color: rgba(255,123,123,.7);
          }
        }
      }
    }
  }
}