<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="footer__inner d-flex justify-content-lg-between align-items-center">
          <div class="copyright">2021 © <a>Mock Blog</a>. All Right Reserved. Published with <a>Team 2</a>
          </div>
          <div class="social">
            <ul class="social__list d-flex">
              <li class="social__item">
                <a class="social__link"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="social__item">
                <a class="social__link"><i class="fab fa-facebook-square"></i></a>
              </li>
              <li class="social__item">
                <a class="social__link"><i class="fab fa-instagram"></i></a>
              </li>
              <li class="social__item">
                <a class="social__link"><i class="fab fa-twitter"></i></a>
              </li>
              <li class="social__item">
                <a class="social__link"><i class="fab fa-github-square"></i></a>
              </li>
            </ul>
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>